html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6C6029;
    font-family: 'Montserrat', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}

.logo {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.register-logo {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.login-container {
    margin-top: 30px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    height: 450px;; /* Dimensione fissa */
    width: 250px;
    text-align: center;
}

.form-container{
    height: fit-content;
    width: 295px;
}

.register-container {
    margin-top: 120px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    height: 680px;; /* Dimensione fissa */
    width: 295px;
    text-align: center;
}

label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* Testo in grassetto */
}

.input-login {
    border-color: #252525;
    width: 250px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px; /* Bordi più arrotondati */
    border-width: 1px; /* Spessore del bordo */
    border-style: solid; /* Tipo di bordo */
}

.input-register {
    border-color: #252525;
    width: 295px;
    padding: 7px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 4px; /* Bordi più arrotondati */
    border-width: 1px; /* Spessore del bordo */
    border-style: solid; /* Tipo di bordo */
}

.input-login[aria-invalid="true"] {
    border-color: red;
    font-family: 'Montserrat', sans-serif;
}

.input-register[aria-invalid="true"] {
    border-color: red;
    font-family: 'Montserrat', sans-serif;
}

.button-login {
    width: 100%;
    padding: 10px;
    background-color: #CDBB6D; /* Colore del pulsante */
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 16px;
}

.button-register {
    width: 100%;
    padding: 10px;
    background-color: #CDBB6D; /* Colore del pulsante */
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 16px;
}

.forgot-password,
.create-account{
    margin-top: 30px;
    color: #525252;
    font-size: 16px;
}

.forgot-password a,
.create-account a{
    text-decoration: underline; /* Sottolineato */
    color: #525252; /* Colore del link */
    cursor: pointer;
    font-size: 16px;
}

.create-account {
    color: #525252;
}


.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.logo-forgot-password {
    position: absolute ;
    top: 2rem ;
    left: 50% ;
    transform: translateX(-50%) ;
    z-index: 2 ;
}

.forgo-password-container {
    margin-top: 10px ;
    background-color: #fff ;
    padding: 25px ;
    border-radius: 8px ;
    width: 260px ;
    text-align: center ;
}

.label-forgot-password {
    margin-top: 30px ;
    display: block ;
    text-align: left ;
    margin-bottom: 5px;
    font-weight: bold;
}

.h2-forgot-password {
    font-weight: bold;
    font-size: 32px;
}

.p-forgot-password {
    margin-bottom: 40px;
}

.input-forgot-password {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #767676;
    font-family: 'Montserrat', sans-serif;
}

.button-forgot-password {
    width: 100%;
    padding: 10px;
    background-color: #CDBB6D;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 16px;
}

.a-forgot-password {
    text-decoration: none;
    color: #070708;
    border-bottom: 1px solid #070708;
}

.a-forgot-password:hover {
    color: #070708;
    border-bottom-color: #070708;
}
.visibility {
    position: relative;
    left: -2rem;
    top: 0.5rem;
    width: 0px;
    height: 24px;
    opacity: 0.54;
    border: none;
    z-index: 100;
}
.visibility-register {
    position: relative;
    left: -2rem;
    top: 0.2rem;
    width: 0px;
    height: 24px;
    opacity: 0.54;
    border: none;
    z-index: 100;
}

.invalid-input {
    font-size: 13px;
    color: red;
}

.logo-update-update {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.update-password-container {
    height: 470px;
    margin-top: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 260px;
    text-align: center;
}

.label-update-password {
    margin-top: 30px;
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold; /* Testo in grassetto */
}

.h2-update-password {
    font-size: 32px;
}

.p-update-password {
    margin-bottom: 40px;
    font-size: 16px;
}

.input-update-password {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px; /* Bordi più arrotondati */
    border: 1px solid #060606; /* Bordo bianco */
}

.button-update-password {
    width: 100%;
    padding: 10px;
    background-color: #CDBB6D; /* Colore del pulsante (blu scuro) */
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 16px;
}

.a-update-password {
    text-decoration: none;
    color: #070708; /* Colore del link (blu) */
    border-bottom: 1px solid #070708; /* Linea sottostante */
}

.a-update-password:hover {
    color: #070708; /* Cambia colore al passaggio del mouse (blu scuro) */
    border-bottom-color: #070708;
}

@media screen and (max-width: 600px) {

    body {
        align-items: stretch;
        overflow-y: scroll;
        height: fit-content;
    }

    .login-container {
        height: fit-content;
        margin: 100px auto; /* Centra il contenitore */
    }

    .logo {
        top: 2rem;
        text-align: center;
    }

    .forgot-password-container {
        max-width: 300px;
        margin-bottom: 115px;
    }

    .logo-forgot-password {
        text-align: center;
    }

}

    